/*
* @Author: chengbs
* @Date:   2018-04-10 15:19:22
* @Last Modified by:   chengbs
* @Last Modified time: 2018-05-28 23:29:07
*/
.pro-radio :global(.am-radio) {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 5px;
}

.pushOrderForm {
  width: 328px;
  margin: 0 auto;
  & :global(.rc-upload) {
    display: block;
    width: 60px;
    height: 60px;
  }
}

.push-upload-icon {
  width: 60px;
  height: 60px;
}

.file-list {
  width: 300px;
  margin-top: 10px;
  & li {
    height: 26px;
    margin-bottom: 5px;
    line-height: 26px;
    overflow: hidden;
    & .file-list-icon {
      float: left;
      width: 16px;
      height: 16px;
      margin-top: 5px;
    }
    & a {
      float: left;
      line-height: 26px;
      font-size: 14px;
      margin-left: 5px;
      color: #1890ff;
    }
    & i {
      float: right;
      font-style: normal;
      color: #ccc;
    }
  }
}
