/*
* @Author: chengbs
* @Date:   2018-05-16 17:57:28
* @Last Modified by:   chengbs
* @Last Modified time: 2018-06-05 18:46:38
*/

.usr-home-content :global(.usr-hdleft-title-first), .usr-home-content :global(.usr-hdright-title) {
  font-size: 12px;
}

.header.home-header {
  background-color: rgba(0, 0, 0);
}

.search-list-header {
  & :global(.am-navbar-left) {
    flex: 0;
  }
  & :global(.am-navbar-right) {
    flex: 0;
  }
  & :global(.search) {
    width: 90%;
    margin: 0 auto;
  }
}

.search-bd-title {
  height: 32px;
  line-height: 32px;
  color: rgba(49, 63, 72, .8);
  font-size: 12px;
  text-indent: 14px;
}

.search-bd-tags {
  padding: 0 10px;
  overflow: hidden;
  & li {
    float: left;
    margin-right: 10px;
    padding: 6px 18px;
    background: rgba(248, 248, 248, .8);
    color: rgba(4, 103, 224, 1);
    font-size: 12px;
    border-color: rgba(248, 248, 248, .8);
    border-radius: 5px;
  }
}

:global(.pushadd-btn) {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: rgba(4, 103, 224, .8);
  z-index: 800;
  bottom: 70px;
  right: 10px;
}
:global(.pushadd-btn.feedback){
  -webkit-transform: scale(0.86);
  transform: scale(0.86);
}

.icon-add-20{
    position: absolute;
    top: 20px;
    left: 20px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.icon-add-20:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -1px;
    background-color: #fff;
}
.icon-add-20:after{
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin-left: -1px;
    margin-top: -10px;
    background-color: #fff;
}

.list-loading {
  padding: 30px;
  text-align: center;
}

.job-list-box {
  height: 120px;
  padding: 15px 18px 15px 24px;
  & .job-list-tit {
    overflow: hidden;
    height: 22px;
    line-height: 22px;
    & .title {
      float: left;
      max-width: 186px;
      font-size: 16px;
      color: rgba(49, 63, 72, 1);
    }
    & .job-tag {
      float: left;
      width: 145px;
      & em {
        display: inline-block;
        height: 18px;
        line-height: 18px;
        background: rgba(248, 248, 248, 1);
        color: rgba(4, 103, 224, 1);
        font-size: 10px;
        font-style: normal;
        padding: 0 5px;
        margin-left: 10px;
        border-radius: 4px;
      }
    }
  }

  & .job-list-bd {
    width: 310px;
    height: 32px;
    line-height: 16px;
    margin-top: 6px;
    font-size: 10px;
    color: rgba(138, 150, 160, 1);
  }

  & .job-list-price {
    width: 310px;
    height: 22px;
    margin-top: 5px;
    line-height: 22px;
    font-size: 12px;
    color: rgba(138, 150, 160, 1);
    & em {
      font-style: normal;
      font-size: 16px;
      color: rgba(4, 103, 224, 1);
    }
  }

  & .job-list-address {
    overflow: hidden;
    height: 16px;
    margin-top: 18px;
    color: rgba(138, 150, 160, 1);
    & .icon-address {
      float: left;
    }
    & span {
      float: left;
      margin-left: 10px;
      font-size: 12px;
    }
    & em {
      float: right;
      font-style: normal;
      font-size: 10px;
    }
  }
}

/* selection */
dl, dt, dd, span{
  margin: 0;
  padding: 0;
}
.selection-list {
  width: 348px;
  margin: 0 auto;
  margin-top: 30px;
  & dt {
    height: 40px;
    line-height: 40px;
    color: rgba(49, 63, 72, 1);
    font-size: 14px;
  }
  & dd {
    overflow: hidden;
    & a {
      float: left;
      width: 104px;
      height: 24px;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 24px;
      text-align: center;
      background: rgba(138, 150, 160, 0.1);
      color: rgba(49, 63, 72, 1);
      font-size: 12px;
      border-radius: 4px;
      margin-right: 12px;
      &.selected {
        background: rgba(4, 103, 224, 1);
        color: #fff;
      }
    }
    &.big-tags {
      & a {
        height: 42px;
        line-height: 42px;
        font-size: 14px;
      }
    }
  }

  &.stream-time {
    & dd {
      overflow: hidden;
      & span {
        float: left;
        width: 100px;
        height: 24px;
        line-height: 24px;
      }
      & em {
        float: left;
        height: 24px;
        line-height: 24px;
        color: rgba(49, 63, 72, 1);
        margin: 0 12px;
      }
    }
  }

  &.all-area {
    & dt {
      overflow: hidden;
      & span {
        float: left;
      }
      & .address-picker {
        float: left;
        width: 304px;
        & :global(.am-list-item) {
          min-height: auto;
          height: 40px;
          padding-left: 0;
          & :global(.am-list-line) {
            padding-right: 0;
            & :global(.am-list-extra) {
              flex-basis: 94%;
              text-align: left;
              color: rgba(4, 103, 224, 1);
              font-size: 14px;
            }
          }
        }
      }
    }
    & dd {
      & a {
        width: auto;
        padding: 0 30px;
      }
      & .reset-location {
        float: right;
        color: rgba(4, 103, 224, 1);
        margin-right: 10px;
        font-size: 12px;
        height: 24px;
        line-height: 24px;
      }
    }
  }

  &.picker-title {
    & dt {
      overflow: hidden;
      & span {
        float: left;
      }
      & .right-picker {
        float: right;
      }
    }
  }
}

.selection-submit {
  width: 348px;
  margin: 20px auto;
  &:global(.am-button-primary) {
    background: rgba(4, 103, 224, 1);
  }
}

html:not([data-scale]) {
  & .selection-submit {
    &:global(.am-button-primary) {
      &:before {
        border-color: rgba(4, 103, 224, 1);
      }
    }
  }
}














