.header {
  display: flex;
  padding: 16px 0 21px 0;
  height: 95px;
  & .avatar {
    flex: 1;
    text-align: center;
    & > span {
      display: inline-block;
      width: 92px;
      height: 92px;
      line-height: 92px;
      border-radius: 50%;
      & > img {
        width: 92px;
        height: 92px;
        line-height: 92px;
        border-radius: 50%;
      }
      & .icon {
        width: 92px;
        height: 92px;
      }
    }
  }
  & .describe {
    flex: 2;
    & .name {
      display: inline-block;
      height: 18px;
      font-size: 16px;
      min-width: 80px;
      margin: 0 15px 8px 15px;
      color: #1A173B;
    }
    & .address {
      height: 16px;
      vertical-align: top;
      margin: 0 15px 12px 15px;
      & .title {
        display: inline-block;
        font-size: 12px;
        min-width: 80px;
        height: 13px;
        color: #999;
        padding-left: 5px;
      }
    }
    & .btn {
      width: 132px;
      height: 32px;
      line-height: 32px;
      margin-left: 15px;
      border-radius: 22.07px;
      font-size: 12px;
      background-color: rgba(4, 103, 224, 1);
    }
  }
}

.data {
  display: flex;
  padding-bottom: 15px;
  & > div {
    flex: 1;
    & .num {
      height: 23px;
      line-height: 23px;
      margin: 5px;
      color: rgba(28, 40, 51, 1);
      font-size: 24px;
      text-align: center;
    }
    & .desc {
      height: 16px;
      line-height: 16px;
      margin: 5px;
      color: rgba(28, 40, 51, 0.7);
      font-size: 12px;
      text-align: center;
    }
  }
}

.link {
  & .title {
    height: 20px;
    line-height: 20px;
    padding-left: 15px;
    color: rgba(28, 40, 51, 1);
    font-size: 14px;
  }
  & .rightIcon {
    position: absolute;
    right: 20px;
    top: 15px;
    height: 16px;
  }
}

.loading {
  & > * > * {
    border-radius: 5px!important;
    color: transparent!important;
    background-color: #eee!important;
    border-color: #eee!important;
    & > *, &:before, &:after {
      display: none!important;
    }
  }
}

