.marginTop45 {
  padding-top: 45px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.marginTop83 {
  padding-top: 83px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
