.fix-iphoneX-top {
  height: 38px;
  background-color: #FFF;
}
.title {
  font-size: 16px;
  color: #313F48;
  font-family: PingFang-SC-Medium;
}
.other-title {
  font-size: 14px;
  color: #0467E0;
}
.icon {
  width: 14px;
}
