.fix-iphoneX-top {
  height: 38px;
  background-color: #FFF;
}
.header {
  background-color: rgba(249, 249, 249, 0.87);
}
.title {
  font-size: 16px;
  color: #313F48;
  font-family: PingFang-SC-Medium;
}

.usr-hdleft-title-first, .usr-hdleft-title-second, .usr-hdright-title {
  font-size: 14px;
  color: #0467E0;
}

.icon {
  width: 14px;
}

.search {
  width: 220px;
  height: 28px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 12px;
}

.header :global(.am-search-input .am-search-synthetic-ph-placeholder) {
  font-size: 12px;
}

.header :global(.am-search-cancel) {
  font-size: 12px;
  color: #0467E0;
}
