

:global(.am-tabs-pane-wrap-active), :global(.bitch) {
  opacity: 1;
  transform: translateX(0);
  transition: all 400ms ease-out;
}
:global(.am-tabs-pane-wrap-inactive) {
  opacity: 0;
  transform: translateX(100%);
  transition: all 400ms ease-out;
}
