/*
* @Author: baosheng
* @Date:   2018-04-02 22:17:11
* @Last Modified by:   baosheng
* @Last Modified time: 2018-04-03 14:31:13
*/
.menuBtn {
  width: 22px;
  height: 22px;
  background: 'url(../../assets/home.png) center center /  21px 21px no-repeat';
}