/*
* @Author: baosheng
* @Date:   2018-04-02 22:17:11
* @Last Modified by:   chengbs
* @Last Modified time: 2018-05-16 15:37:09
*/
.menuBtn {
  width: 22px;
  height: 22px;
  background: 'url(../../assets/home.png) center center /  21px 21px no-repeat';
}

.tabBody {
  width: 100%;
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
}

.noheadBody {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tabBody-fix-iphoneX {
  width: 100%;
  position: absolute;
  top: 83px;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 15px solid #FFF;
}

.icon-menu {
  width: 19px;
  height: 19px;
  fill: currentColor;
  overflow: hidden;
}
.bigicon-menu {
  width: 40px;
  height: 40px;
  margin-top:5px;
  fill: currentColor;
  overflow: hidden;
}

.tabBody :global(.am-tab-bar-tab), .noheadBody :global(.am-tab-bar-tab) {
  height: 100%;
}

.tabBody :global(.am-tab-bar-bar .am-tab-bar-tab-title), .noheadBody :global(.am-tab-bar-bar .am-tab-bar-tab-title) {
  margin-top: 6px;
}

.none {
  display: none;
}

