/*
* @Author: chengbs
* @Date:   2018-05-22 10:58:21
* @Last Modified by:   chengbs
* @Last Modified time: 2018-05-22 13:14:43
*/
:global(.contentBox){
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 50px;
}